
$red: #891a1c;
$berry : #BC5F6A;
$blush : #E3A6A1;
$indigo: #6610f2;
$gray: #73818f;
$gray4:#e8e8e8;
$danger: #f86c6b;
$dark: #2f353a;
$green: #4dbd74;
$blue-10:#002766;
$blue-6:#1890ff;
$blue-4:#69c0ff;
$blue-1:#e6f7ff;



